@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');*/


body
{
    background-color: lightgoldenrodyellow;
}

 a{
     color: red;
     text-decoration: none;
 }
 a:hover{
     cursor: pointer;
     text-decoration: underline;
 }
#myVideo
{
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
   
}
#container {
    
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: hwb(0 59% 5% / 0.289);
    padding: 10px 20px;
    margin: 10px 0px;

}
#heading
{
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    border-color: rgb(247, 247, 247);
    color:darkorange;
}
#links
{
    color: brown;
    text-align: right;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border-color: rgb(247, 247, 247);
}

#Quote
{
    display: flex;
    justify-content: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: hwb(0 100% 0% / 0.289);
    padding: 10px 10px;
}
#Quote img{
    width: 30vw;
    height: auto;
}
.grid{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: hwb(0 0% 100% / 0.289);
    padding: 10px 60px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    gap: 15px;
}
#abtMe
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: hwb(0 100% 0% / 0.289);
    padding: 10px 10px;
    margin:  10px 0px;
    font-family: 'Josefin Sans', sans-serif;
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
}
#education
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: hwb(0 100% 0% / 0.382);
    padding: 10px 60px;
    margin:  10px 0px;
    font-family: 'Source Code Pro', monospace;
    grid-column: 3 / span 3;
    grid-row: 1 / span 2;
}
#workHistory
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: hwb(0 100% 0% / 0.382);

    padding: 10px 60px;
    margin:  10px 0px;
    font-family: 'Source Code Pro', monospace;
    grid-column: 4 / span 2;
    grid-row: 3 / span 3;
}
#Skills
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: hwb(0 100% 0% / 0.382);

    padding: 10px 60px;
    margin:  10px 0px;
    font-family: 'Josefin Sans', sans-serif;
    grid-column: 3 / span 1;
    grid-row: 3 / span 3;
}
#Socials
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: hwb(0 100% 0% / 0.289);
    padding: 10px 60px;
    margin:  10px 0px;
    font-family: 'Josefin Sans', sans-serif;
}
footer
{
    color: rgb(228, 215, 215);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: hwb(0 0% 100% / 0.289);
    padding: 10px 60px;
    margin:  10px 0px;
    font-family: 'Source Code Pro', monospace;
}
#logos a img
{
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 768px){
    .grid{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3,auto);
        font-size: smaller;
    }
    #abtMe
    {

        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    #education
    {

        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    #workHistory
    {

        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    #Skills
    {

        grid-column: 2 / span 1;
        grid-row: 3/ span 1;
    }
}

@media screen and (max-width: 550px){
    .grid{
        display: block;
    }
    #Quote img{
        width: 50vw;
        height: auto;
    }
    h2{
        font-size: 1.2em;
    }
}



